.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
.cask/
.cask/*
tramp
%backup$~
.recentf~
ido.last~
.private.el
network-security.data
tramp
tramp/
elpa/
elpy/
eshell/
transient/
%backup%~
network-security.data