[submodule "mu4e/mu4e-thread-folding"]
	path = mu4e/mu4e-thread-folding
	url = git@github.com:amackera/mu4e-thread-folding.git
[submodule "emacs-ob-racket"]
	path = emacs-ob-racket
	url = git@github.com:hasu/emacs-ob-racket.git
